{% extends 'main.html' %}

{% block content %}
        <div>
                {% for obj in obj %}
                <a href="{% url 'edit_spc_profile' obj.id %}?r={{r}}">
                        {% if obj.degree %}
                                {{obj.degree}}
                        {% elif obj.title %}
                                {{obj.title}}
                        {% elif obj.organization_name %}
                                {{obj.organization_name}}

                        {% endif %}
                </a>
                <br>
                {% endfor %}
                <a href="{% url 'add_details' %}?a=add&r={{r}}" class="btn">Add</a>
        </div>

{% endblock %}
