{% extends 'main.html' %}

{% load crispy_forms_tags %}
{% block content %}

{% if page == 'edit' %}
<div class="profile-edit">
    <div class="left">
        <div class="edit-form">
            <h1>Edit your Profile</h1>
            <img src="{{profile.avatar.url}}" width="120" />
            <br>

            <form action="" method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" value="Save" class="btn">
                {% if request.GET.r != 'profile' %}
                {% if form.instance.id %}
                <a class="btn" href="{% url 'delete' form.instance.id %}?r={{r}}" style="background: red;">DELETE</a>
                {% elif form.id %}
                <a class="btn" href="{% url 'delete' form.id %}?r={{r}}" style="background: red;">DELETE</a>
                {% endif %}
                {% endif %}
            </form>
        </div>



    </div>


    <div>
        {% include 'prof_details/sidebar.html' %}
    </div>


</div>

{% elif page == 'ViewProfile' %}
<!-- <div class="profilecontainer">
        <div id="profile-left">
            <div>
                {% if academics %}
                    <h1>
                        Education
                    </h1>

                    {% for p in academics %}
                        {% if p is not None %}
                            {{p.degree}}
                            <br>
                        {% endif %}
                        {{p.year_of_completion}}
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                {% if workexperience %}
                    <h1>Work Experience</h1>
                    <div class="work-block">

                            {% for w in workexperience %}
                                <u><h3>{{w.organization_name}}</h3></u>
                                <h4>{{w.designation}}</h4>
                                <h6>{{w.year_joined}}-
                                    {% if w.year_left == 435464  %}
                                        Present
                                    {% else %}
                                        {{w.year_left}}
                                    {% endif %}
                                </h6>
                            {% endfor %}

                    </div>
                {% endif %}
            </div>
        </div>

        <div class="profile">

                <img id="profile-avatar" src="{{profile.avatar.url}}" width="120"/>
                <a class="btn" href="{% url 'edit_spc_profile' profile.id %}?r=profile">Edit</a>
                <a class="btn" href="{% url 'view_profile' request.user.id %}">View</a>

            <div class="profile-data">
                <h4 class="profile-data">{{profile.headline}}</h4>
                <h4 class="profile-data">{{profile.user}}</h4>
                <h4 class="profile-data">{{profile.age}}</h4>
                <p class="profile-data">{{profile.bio}}</p>
            </div>
        </div>

        <div id="profile-right">
            <div>
                {% if milestones %}
                    <h1>Projects Worked</h1>
                    {% for m in milestones %}
                        <a href="{% url 'milestone' m.id %}">
                            <button>
                                {{m}}
                            </button>
                            <br>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>

            <div>

                {% if certifications %}
                    <h1>Certifications</h1>
                    {% for cer in certifications %}
                        <h4>{{cer.title}}</h4>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div> -->

{% endif %}

{% endblock content %}
