<div class="sidebar">
    <ul>

        <li><a href="?r=profile">Profile</a></li>
        <li><a href="{% url 'detail'  %}?r=certification&d=details">Certifications</a></li>
        <li><a href="{% url 'detail'  %}?r=academics&d=details">Academics</a></li>
        <li><a href="{% url 'detail'  %}?r=experience&d=details">Experience</a></li>
        <li><a href="{% url 'detail'  %}?r=projects&d=details">Projects</a></li>
        <li><a href="{% url 'detail'  %}?r=skills&d=details">Skills</a></li>
        <li><a href="{% url 'detail'  %}?r=contacts&d=details">Contacts</a></li>

    </ul>
</div>
